*.pyc
*__pyc*/
*.pio/
*.vscode/
misc/svd/*.html
*.rst
examples/**/*.yml
examples/**/*.md
**/CONTR*
**/CHANGE*
.gitmodules
**/*/README*
LICENSE*
*.png
*.jpg
*.rst
# *.md
**/*/README*
platform*
builder/
